
version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    environment:
      NODE_ENV: development
      USER_DATABASE_DEV: ${USER_DATABASE_DEV}
      PS_DATABASE_DEV: ${PS_DATABASE_DEV}
      DB_DATABASE_DEV: ${DB_DATABASE_DEV}
      HOST_DATABASE_DEV: db
      PORT_DATABASE_DEV: ${PORT_DATABASE_DEV}
    depends_on:
      - db
    networks:
      - zenda-network

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    stdin_open: true
    tty: true
    networks:
      - zenda-network

  db:
    image: postgres:16.0
    ports:
      - "${PORT_DATABASE_DEV}:5432"
    environment:
      POSTGRES_USER: ${USER_DATABASE_DEV}
      POSTGRES_PASSWORD: ${PS_DATABASE_DEV}
      POSTGRES_DB: ${DB_DATABASE_DEV}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - zenda-network

volumes:
  pgdata:

networks:
  zenda-network:
    driver: bridge

